.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    background-color: black;
    height: 70px;
}

.itens{
    display: flex;
    color: white;
    list-style: none;
}

.item{
    margin-left: 20%;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

.item:hover{
    color: tomato;
}

.nav__container-mobile{
    display: none;
}

.toogle__mobile{
    display: none;
}