.nav__bar{
    box-sizing: border-box;
    background-color: black;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 1rem;
    justify-content: space-between;
}

.menu{
    display: flex;
    gap: .5rem;
}

.menu li{
    padding: .5rem;
    display: block;
  
}

.item{
    list-style: none;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    padding: .5rem;
}

.btnmobile{
    display: none;
}

    @media(max-width: 600px) {

        .btnmobile{
            display: flex;
            padding: .5rem 1rem;
            font-size: 1rem;
            border: none;
            background: none;
            cursor: pointer;
        }

        .hamburguer{
            border-top: 3px solid white;
            border-radius: 3px;
            width: 40px;
            display: block;

        }

        .hamburguer::after, .hamburguer::before{
            content: '';
            display: block;
            width: 40px;
            height: 3px;
            background: white;
            margin-top: 5px;
            transition: .5s;
            position: relative;
            border-radius: 3px;

        }

        .navegacao.active .hamburguer{
            border-top-color: transparent;
        }

        .navegacao.active .hamburguer::before{
            transform: rotate(135deg);
        }

        .navegacao.active .hamburguer::after{
            transform: rotate(-135deg);
            top: -7px;
        }

        .menu{
            display: block;
            position: absolute;
            width: 100%;
            height: 0;
            transition: .9s;
            top: 54px;
            padding-top: 7%;
            right: 0;
            background-color: black;
            z-index: 1000;
            visibility: hidden;
            overflow-y: hidden;
        }

        .menu li{
            padding: 1rem 0;
            margin: 0 1rem;
            border-bottom: 2px solid white;
        }

        .navegacao.active .menu{
            visibility: visible;
            height: calc(100vh - 54px);
            overflow-y: auto;
            
        }
    }

